In [15]:
import pandas as pd

In [2]:
df = pd.read_csv("Top 1000 IMDB movies (1).csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1000 non-null   int64
 1   Movie Name          1000 non-null   object
 2   Year of Release     1000 non-null   object
 3   Watch Time          1000 non-null   object
 4   Movie Rating        1000 non-null   float64
 5   Meatscore of movie  1000 non-null   object
 6   Votes               1000 non-null   object
 7   Gross               1000 non-null   object
 8   Description         1000 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 70.4+ KB

In [4]:
# Dropping unneeded columns and making a couple of the column names more clear.

df.drop(columns=['Unnamed: 0', 'Votes'],inplace=True, axis=1)
df = df.rename(columns={'Meatscore of movie': 'Metascore', 'Movie Rating': 'IMDB Rating'})

In [17]:
# Converting 'Movie Name' ,' Description ', and 'Gross' column to string

df['Movie Name'] = df['Movie Name'].astype("string")
df['Gross'] = df['Gross'].astype("string")
df['Description'] = df['Description'].astype("string")

In [8]:
# cleaning the values in the 'Gross' column 
df['Gross'] = df['Gross'].replace('#101' ,'0')
df['Gross'] = df['Gross'].replace('#109' ,'0')
df['Gross'] = df['Gross'].replace('#119' ,'0')
df['Gross'] = df['Gross'].replace('#132' ,'0')
df['Gross'] = df['Gross'].replace('#135' ,'0')
df['Gross'] = df['Gross'].replace('#145' ,'0')
df['Gross'] = df['Gross'].replace('#153' ,'0')
df['Gross'] = df['Gross'].replace('#155' ,'0')
df['Gross'] = df['Gross'].replace('#184' ,'0')
df['Gross'] = df['Gross'].replace('#192' ,'0')
df['Gross'] = df['Gross'].replace('#193' ,'0')
df['Gross'] = df['Gross'].replace('#196' ,'0')
df['Gross'] = df['Gross'].replace('#198' ,'0')
df['Gross'] = df['Gross'].replace('#204' ,'0')
df['Gross'] = df['Gross'].replace('#208' ,'0')
df['Gross'] = df['Gross'].replace('#21' ,'0')
df['Gross'] = df['Gross'].replace('#219' ,'0')
df['Gross'] = df['Gross'].replace('#229' ,'0')
df['Gross'] = df['Gross'].replace('#233' ,'0')
df['Gross'] = df['Gross'].replace('#238' ,'0')
df['Gross'] = df['Gross'].replace('#239' ,'0')
df['Gross'] = df['Gross'].replace('#240' ,'0')
df['Gross'] = df['Gross'].replace('#244' ,'0')
df['Gross'] = df['Gross'].replace('#248' ,'0')
df['Gross'] = df['Gross'].replace('#45' ,'0')
df['Gross'] = df['Gross'].replace('#47' ,'0')
df['Gross'] = df['Gross'].replace('#48' ,'0')
df['Gross'] = df['Gross'].replace('#60' ,'0')
df['Gross'] = df['Gross'].replace('#61' ,'0')
df['Gross'] = df['Gross'].replace('#61' ,'0')
df['Gross'] = df['Gross'].replace('#92' , '0')
df['Gross'] = df['Gross'].replace('%^%^%^', '0')
df['Gross'] = df['Gross'].str.replace('$', ' ')
df['Gross'] = df['Gross'].str.replace('M', '')

/var/folders/m9/xdscf9kn1mb_f7gnk1x3p62r0000gn/T/ipykernel_15189/1656452917.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross'] = df['Gross'].str.replace('$', ' ')

In [19]:
# Changing 'Gross' column type to float
df['Gross'] = df['Gross'].astype("float")

In [10]:
# Cleaning and converting the 'Watch Time' and 'Year of Release' columns

df['Watch Time'] = df['Watch Time'].str.replace(' min', '')
df['Watch Time'] = df['Watch Time'].astype("int")
df['Year of Release'] = df['Year of Release'].str.replace('(', '')
df['Year of Release'] = df['Year of Release'].str.replace(')', '')
df['Year of Release'] = df['Year of Release'].str.replace('I ', '')
df['Year of Release'] = df['Year of Release'].str.replace('II', '')
df['Year of Release'] = df['Year of Release'].str.replace('I', '')
df['Year of Release'] = df['Year of Release'].astype("int")

/var/folders/m9/xdscf9kn1mb_f7gnk1x3p62r0000gn/T/ipykernel_15189/4177273950.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Year of Release'] = df['Year of Release'].str.replace('(', '')
/var/folders/m9/xdscf9kn1mb_f7gnk1x3p62r0000gn/T/ipykernel_15189/4177273950.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Year of Release'] = df['Year of Release'].str.replace(')', '')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Movie Name       1000 non-null   string
 1   Year of Release  1000 non-null   int64
 2   Watch Time       1000 non-null   int64
 3   IMDB Rating      1000 non-null   float64
 4   Metascore        1000 non-null   object
 5   Gross            1000 non-null   float64
 6   Description      1000 non-null   object
dtypes: float64(2), int64(2), object(2), string(1)
memory usage: 54.8+ KB

In [12]:
# Cleaning and converting the 'Metascore' column while also putting its scores on the same scale as the IMDB ratings.

df['Metascore'] = df['Metascore'].replace('****', nan)
df['Metascore'] = df['Metascore'].astype('float')
df['Metascore'] = df['Metascore'].div(10)

In [13]:
print(df.sort_values('Metascore', ascending=False).head(10))

                 Movie Name  Year of Release  Watch Time  IMDB Rating  \
132            Citizen Kane             1941         119          8.3
275       Three Colors: Red             1994          99          8.1
122      Lawrence of Arabia             1962         218          8.3
126                 Vertigo             1958         128          8.3
437             The Leopard             1963         186          8.0
579               Notorious             1946         102          7.9
448  Sweet Smell of Success             1957          96          8.0
57               Casablanca             1942         102          8.5
56              Rear Window             1954         112          8.5
1             The Godfather             1972         175          9.2

     Metascore   Gross                                        Description
132       10.0    1.59  Following the death of publishing tycoon Charl...
275       10.0    4.04  A model discovers a retired judge is keen on i...
122       10.0   44.82  The story of T.E. Lawrence, the English office...
126       10.0    3.20  A former San Francisco police detective juggle...
437       10.0    0.00  The Prince of Salina, a noble aristocrat of im...
579       10.0   10.46  The daughter of a convicted Nazi spy is asked ...
448       10.0    0.00  Powerful but unethical Broadway columnist J.J....
57        10.0    1.02  A cynical expatriate American cafe owner strug...
56        10.0   36.76  A wheelchair-bound photographer spies on his n...
1         10.0  134.97  The aging patriarch of an organized crime dyna...

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Movie Name       1000 non-null   string
 1   Year of Release  1000 non-null   int64
 2   Watch Time       1000 non-null   int64
 3   IMDB Rating      1000 non-null   float64
 4   Metascore        836 non-null    float64
 5   Gross            1000 non-null   float64
 6   Description      1000 non-null   string
dtypes: float64(3), int64(2), string(2)
memory usage: 54.8 KB